<perch:form id="rsvp" method="post" app="perch_forms">

	<div class="row">
	
		<div class="ten offset-by-one columns">
			
			<h2><perch:content id="rsvp-title" type="text" label="RSVP Title" required="true" title="true" /></h2>
		
		</div>
		
	</div>

  <div class="row">

	  <div class="ten offset-by-one columns">

	    <div class="one-half column">
				
				<perch:label for="names">Your name(s)<perch:error for="names" type="required"><span class="error"> : Required</span></perch:error></perch:label>
		
				<perch:input class="u-full-width" placeholder="John Smith" type="text" id="names" required="true" label="Name(s)" />

	    </div>

	    <div class="one-half column">
				
				<perch:label for="email-address">A Contact Email<perch:error for="email-address" type="required"><span class="error"> : Required</span></perch:error></perch:label>
		
				<perch:input class="u-full-width" placeholder="your@email.com" type="email" id="email-address" required="true" label="Email Address" />

	    </div>	    
	    
	  </div>
	  
  </div>
  
  <div class="row">

	  <div class="ten offset-by-one columns">

	    <div class="one-half column">

				<perch:label for="can-you-attend">Can you come?</perch:label>
				
				<perch:input id="can-you-attend" class="u-full-width" type="select" options="Sorry - can't come|No,Yes - definitely|Yes" />

	    </div>

	    <div class="one-half column">

				<perch:label for="rsvp-code">RSVP Code.....<perch:error for="rsvp-code" type="required"><span class="error"> : Required</span></perch:error><perch:error for="rsvp-code" type="helper"><span class="error"> : Incorrect Code</span></perch:error></perch:label>
				
				<perch:input class="u-full-width" type="text" id="rsvp-code" required="true" label="RSVP Code" helper="Aas_Validation_FormValidation::check_rsvp_code" />

	    </div>

	  </div>
	  
  </div>
  
 	<div id="able-to-attend">

	  <div id="row">
		  
		  <div class="ten offset-by-one columns">
		  
			  <div class="one-third column">
				  
				  <perch:label for="number-of-attendees">How many adults?</perch:label>
				  
				  <perch:input id="number-of-attendees" class="u-full-width" type="select" options="1,2,3,4,5,6,7,8,9,10" />

			  </div>
			  
				<div class="one-third column">
					  							  
				  <perch:label for="number-of-kids">And how many kids?</perch:label>
				  
				  <perch:input id="number-of-kids" class="u-full-width" type="select" options="0,1,2,3,4,5,6,7,8,9,10" />

			  </div>
			  								  						 	
			 	<div class="one-third column">
				 	
				 	<perch:label for="dietary-requirements-question">Any dietary requirements?</perch:label>
				 	
				 	<perch:input id="dietary-requirements-question" class="u-full-width" type="select" options="No,Yes" />
			 								 	
			 	</div>
			  
		  </div>
	  
	  </div>

	  <div id="row">

		 	<div id="dietary-requirements" class="ten offset-by-one columns">
			 	
			 	<perch:label for="dietary-requirements-message">What do you / don't you or your +1s eat?</perch:label>
			 	
			 	<perch:input type="textarea" id="dietary-requirements-message" class="u-full-width" placeholder="Well, we don't eat.... but we do eat...." />

		  </div>
		 	
	 	</div>
	  	
	  <div id="row">

		 	<div id="play-list" class="ten offset-by-one columns">
		 		
		 		<perch:label for="fave-tune">Fancy adding a tune to our playlist?</perch:label>
		 	
		 		<perch:input class="u-full-width" type="text" id="fave-tune" placeholder="Let us know what's going to get you dancing..." label="Fave Tune" />

		  </div>
		 	
	 	</div>	
  
 	</div>
	 	
  <div id="row">
		  
	 	<div id="final-message" class="ten offset-by-one columns">

		  <perch:label for="message">Let us know if there's anything else?</perch:label>
		  
		  <perch:input type="textarea" id="message" class="u-full-width" placeholder="Hi Alex & Shikha..." label="Message" />

	  </div>
  
 	</div>

 	<div class="row">
	 	
	 	<div class="ten offset-by-one columns">
	 	
		 	<div class="u-pull-right">
			 	
			 	<perch:input type="submit" id="submit" class="button button-primary" value="Submit" />
			  
		 	</div>

	 	</div>
	  
 	</div>
 	
 	<perch:success>

	 	<div class="row">
		 	
		 	<div class="ten offset-by-one columns">

		 		<perch:content id="thankyou" label="Success message" type="textarea" textile="true" editor="markitup" />
		 		
		 	</div>
		 	
	 	</div>

	</perch:success> 	

</perch:form>